body {
  font-family: "Bungee Shade", cursive;
  /*
  'Special Elite', cursive;
  'Slackey', cursive;
  'Road Rage', cursive;
  'Righteous', cursive;
  'Permanent Marker', cursive;
  'Dosis', sans-serif;
  'Alfa Slab One', cursive;
  'Bungee Shade', cursive; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  font-size: 2rem;
  margin: 0 1.25rem 0 0;
  height: 2rem;
}
nav img {
  width: 3rem;
  height: 2.5rem;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
  font-size: 2.75rem;
  margin: 0rem 2rem 0 2rem;
}
#header h1 {
  margin: 3rem;
}
#header img {
  margin-top: 2rem;
}
#cart {
  margin: 4rem 20rem 4rem 20rem;
  border: 0.25rem solid #2a9d8f;
  font-family: "Special Elite", cursive;
}

.cart-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 25rem;
  margin-right: 5rem;
}

.product img {
  width: 11rem;
  height: 14rem;
}
#delete-button {
  height: 2rem;
  width: 2rem;
  background-color: white;
  text-align: center;
  border: 0 solid white;
  margin: 0 5rem 0 0;
}
#delete-button img {
  height: 2rem;
  width: 2rem;
}

#checkout-button {
  display: flex;
  justify-content: right;
  margin: 0 20rem 15rem 0;
}
#checkout-button button {
  background-color: #2a9d8f;
  border-radius: 2rem;
  width: 13rem;
  height: 6rem;
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
}
#purchase-button button {
  background-color: #2a9d8f;
  border-radius: 2rem;
  width: 25rem;
  height: 3rem;
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  font-family: "Special Elite", cursive;
}
#purchase-button-2 button {
  background-color: #2a9d8f;
  border-radius: 2rem;
  width: 25rem;
  height: 3rem;
  font-size: 1.25rem;
  color: white;
  font-weight: bold;
  font-family: "Special Elite", cursive;


}

#all-movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.all-movies {
  font-family: "Special Elite", cursive;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  flex: 1 1 21rem;
  width: 12rem;
}
.all-movies img {
  width: 13rem;
  height: 18rem;
}

.single-movie {
  display: flex;
  font-family: "Special Elite", cursive;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0 0 0;
}

.single-movie img {
  width: 35rem;
  height: 45rem;
}
#single-movie-details {
  display: flex;
  flex-direction: column;
  width: 75rem;
}
#single-movie-details input {
  display: flex;
  flex-direction: row;
}
#single-movie-qty {
  display: flex;
  flex-direction: row;
  align-items: center;

}
#input-qty {
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: 0.1rem solid #2a9d8f;
  margin: 0 1rem 0 0;
}
#input-qty :focus {
  outline: none
}
#input-button {
  width: 6rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #2a9d8f;
  font-family: "Special Elite", cursive;
}

#cart-qty input {
  border-style: hidden;
  height: 3rem;
  width: 3rem;
  font-family: "Special Elite", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

#cart-qty :focus {
  outline: none;
}

#cart-qty {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  height: 3rem;
  width: 7rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 0.1rem solid #2a9d8f;
  color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#checkout-feats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}
#ship-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2.5rem;
  margin: 0 5rem 1rem 4rem;
  width: 75rem;
  border: 1rem solid #2a9d8f;
  padding: 2rem;

}
#ship-info input{
  font-size: 2rem;
  font-family: "Special Elite", cursive;
}
#ord-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width:38rem;
  height: 40rem;
  align-items: center;
  margin: 4rem 13rem 1rem 8rem;
  border: .5rem solid black;
  font-family: "Special Elite", cursive;
}
#ord-details{
  width: 36rem
}
#ord-details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#ord-details h1 {
  color: red;
  font-family: "Bungee Shade", cursive;
}
#ord-details h2 {
  color: #2a9d8f;
  font-family: "Bungee Shade", cursive;
}

#cart h1{
margin-left: 2rem;
  font-size: 2.5rem;
  font-family: "Bungee Shade", cursive;
}

#end-purchase {
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
border: .25rem solid #2a9d8f;
margin: 4rem 20rem 4rem 20rem;
padding: 2rem;
font-family: "Special Elite", cursive;;
}
